.places article .price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 100%;
  min-width: 60px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -48px;
  right: -305px;
}
.price_by_night p {
  margin: 0;
  padding: 0;
}

.places article .information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0px 5px;
}

.number_bathrooms,
.number_rooms,
.max_guest {
  display: flex;
  width: 100px;
}

.max_guest p:before {
  content: url(/images/icon_group.png);
  margin-right: 5px;
}

.number_bathrooms p:before {
  content: url(/images/icon_bath.png);
  margin-right: 5px;
}

.number_rooms p:before {
  content: url(/images/icon_bed.png);
  margin-right: 5px;
}

.user {
  text-align: left;
  padding: 5px 10px;
}

.user p span {
  font-weight: 900;
}
.user p {
  margin-bottom: 0;
}

.description {
  text-align: left;
  padding: 5px 10px;
}

.description p {
  margin-top: 0;
}
